.container {
    margin: 20px;
    .answers {
        width: 100%;
        .item {
            list-style: decimal;
            margin: 10px;
        }
        .answer {
            font-weight: 700;
            font-family: sans-serif;
        }
    }
}